
body{font-family:Arial;direction:rtl;background:#eef2f7;margin:0}

header{background:#1e3a8a;color:white;padding:20px;display:flex;justify-content:space-between}

.login{display:flex;justify-content:center;align-items:center;height:100vh}

.box{background:white;padding:40px;border-radius:10px}

table{width:100%;background:white;border-collapse:collapse}

td,th{border:1px solid #ddd;padding:10px}

button{padding:10px 20px;background:#2563eb;color:white;border:0}

input{padding:8px}
