body{

font-family:Arial;
background:#f5f7fb;
margin:0;
direction:rtl;

}

header{

background:#1e3a8a;
color:white;
padding:20px;
text-align:center;
font-size:24px;

}

.container{

width:90%;
margin:auto;
margin-top:20px;

}

.card{

background:white;
padding:20px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);

}

button{

background:#2563eb;
color:white;
border:none;
padding:10px 16px;
border-radius:8px;
cursor:pointer;

}

table{

width:100%;
border-collapse:collapse;
margin-top:10px;

}

td,th{

border:1px solid #ccc;
padding:6px;

}

.loginBox{

width:300px;
margin:auto;
margin-top:120px;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
text-align:center;

}

input{

padding:8px;
margin:5px;
width:90%;

}
