<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<h1>ברוך הבא למערכת ישיבת בין הזמנים</h1>
<button>התנתק</button>
<button>הגדרות ⚙️</button>
<input type="text" placeholder="חיפוש תלמיד" onkeyup="filterTable(this.value)">
<select>
    <option value="">ללא סינון</option>
    {% for day in days %}
    <option value="{{ day.name }}">{{ day.name }}</option>
    {% endfor %}
</select>
<table id="students-table">
    <tr><th>ת"ז</th><th>שם</th></tr>
    {% for student in students %}
    <tr><td>{{ student.tz }}</td><td>{{ student.name }}</td></tr>
    {% endfor %}
</table>
<script src="../static/js/main.js"></script>
</body>
</html>
