<!DOCTYPE html>
<html lang="he">
<head>
<meta charset="UTF-8">
<title>הגדרות</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>הגדרות מערכת</h1>
<ul>
<li><button onclick="alert('ניהול חשבון')">ניהול חשבון</button></li>
<li><button onclick="alert('ניהול ימים')">ניהול ימים</button></li>
<li><button onclick="alert('ניהול תלמידים')">ניהול תלמידים</button></li>
<li><button onclick="alert('ניהול סדרים')">ניהול סדרים</button></li>
</ul>
</body>
</html>
